body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
}
#slack {
  background: url('../slack.jpg') no-repeat;
  background-size: 100%;
  background-position: right 0px top -70px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
nav {
  position: absolute;
  top: 0;
}
nav .dropdown-content {
  top: 65px !important;
}
nav .dropdown-content li > a,
nav .dropdown-content li > span {
  color: black;
}
.jumbotron {
  margin-top: 200px;
  color: white;
}
.jumbotron p {
  font-weight: 200;
  font-size: 3em;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.jumbotron p span {
  font-weight: 500;
}
