extends layout

block content
  .row
    //- breathing room from nav
  .row
    .col.s12.m2.hide-on-small-and-down
      //- empty columns
    .col.s12.m8
      #statistics.card-panel.transparent.z-depth-0
        .row
          .col.s12
            h2.center Network Statistics
        .row
          .col.s12.m4.center
            h3.red-text.accent-3= reach
            hr
            h5.grey-text Combined Reach
          .col.s12.m4.center
            h3.red-text.accent-3= registeredAccounts
            hr
            h5.grey-text Number of Couples
          .col.s12.m4.center
            h3.red-text.accent-3= mediaCount
            hr
            h5.grey-text Media Count
    .col.s12.m2.hide-on-small-and-down
      //- empty columns
  .row
    .col.s12
      h3.center.black-text Brands and Advertiser Portal
      p.center.black-text Leverage the Nomad Couples Influencer Network to Reach Millions of your customers
    hr
  .row
    .col.s12.center
      img(src="https://static1.squarespace.com/static/5754e29e4d088eba15a780ac/t/57a4e4ee5016e1a39887b8a3/1470424369154/?format=750w", width="50%")
  .row
    .col.s12
      h3.center.grey-text Join Brands Like
  .row.center
    .col.s12.m4
      img(src="http://placehold.it/250x80", width="100%", height="80px")
    .col.s12.m4
      img(src="http://placehold.it/250x80", width="100%", height="80px")
    .col.s12.m4
      img(src="http://placehold.it/250x80", width="100%", height="80px")
  .row
    .col.s12
      h3.center Straight Forward Campaign Creation
  .row
    .col.s12
        h5 1) Choose a Photo for Your Campaign
        h5 2) Provide Text and Unique Hashtag
        h5 3) Choose A Starting Time For Your Campaign
        h5 4) Our Influencer Couples Are Alerted to Execute Your Campaign
        h5 5) Sit Back & Relax while your metrics roll in
    hr