extends layout

block content
  video#background(autoplay='', loop='', muted='', poster='screenshot.jpg')
    source(src='/bgmovie.mp4', type='video/mp4')
  .row.center
    .col.s12
      .jumbotron
        p An Exclusive Network for 
          span Nomad Couples
        a.waves-effect.waves-light.waves-purple.deep-purple.accent-4.btn-large.z-depth-5(href='/authorize_user')
          i.material-icons.right stars
          | Login with Instagram