extends layout

block content
  video#background(autoplay='', loop='', muted='', poster='screenshot.jpg')
    source(src='/bgmovie.mp4', type='video/mp4')
  .jumbotron
    a.btn.btn-large.btn-danger(href='/authorize_user') Login with Instagram
